{% extends 'mainsite/base.html' %}
{% load staticfiles %}
{% load threadedcomments_tags %}
{% load bootstrap3 %}
{% load comments %}

{% block body_block %}

<div class="row contentgroup">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Limau Review : {{ restaurant.name_bm }}</h3>
    </div>
</div>

<div class="row contentgroup">
    <div class="col-md-12 col-sm-12 col-xs-12">
            <span>VERDICT :</span> <span class="stars" data-rating="{{ restaurant.limau_meter }}" data-num-stars="5" ></span>
    </div>
</div>

<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="bxslider">
            <div><img src="{{ restaurant.building_thumbnail.url }}"></div>
            <div><img src="{{ restaurant.food_thumbnail_1.url }}"></div>
            <div><img src="{{ restaurant.food_thumbnail_2.url }}"></div>
            <div><img src="{{ restaurant.menu_thumbnail.url }}"></div>
        </div>
    </div>
</div>


<!-- <div class="row contentgroup">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="restaurant_pic" style="margin-bottom:10px;">
            <img class="img img-rounded" src="{{ restaurant.building_thumbnail.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="restaurant_pic">
            <img class="img img-thumbnail" src="{{ restaurant.food_thumbnail_1.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="restaurant_pic">
            <img class="img img-thumbnail" src="{{ restaurant.food_thumbnail_2.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="criteria">
            <span>Food Quality     :  </span><span class="stars" data-rating="{{ restaurant.food_quality }}" data-num-stars="5" ></span></br>
            <span>Varieties             :  </span><span class="stars" data-rating="{{ restaurant.food_variety }}" data-num-stars="5" ></span></br>
            <span>Staff Etiquette :  </span><span class="stars" data-rating="{{ restaurant.etiquette }}" data-num-stars="5" ></span></br>
            <span>Cleanliness        :  </span><span class="stars" data-rating="{{ restaurant.cleanliness }}" data-num-stars="5" ></span></br>
            <span>Accessibility      :  </span><span class="stars" data-rating="{{ restaurant.access }}" data-num-stars="5" ></span></br>
            <span>Price      :  </span><span class="stars" data-rating="{{ restaurant.price }}" data-num-stars="5" ></span></br>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top:10px">
        <div class="panel panel-primary">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Food Quality</td>
                        <td></span><span class="stars" data-rating="{{ restaurant.food_quality }}" data-num-stars="5" ></span></td>
                    </tr>
                    <tr>       
                        <td>Price</td>
                        <td></span><span class="stars" data-rating="{{ restaurant.price }}" data-num-stars="5" ></span></td>
                    </tr>
                    <tr>
                        <td>Varieties</td>
                        <td></span><span class="stars" data-rating="{{ restaurant.food_variety }}" data-num-stars="5" ></span></td>
                    </tr>
                    <tr>
                        <td>Facilities</td>
                        <td><span class="stars" data-rating="{{ restaurant.facilities }}" data-num-stars="5" ></span></br></td>
                    </tr>
                    <tr>
                        <td>Accessibility</td>
                        <td><span class="stars" data-rating="{{ restaurant.access }}" data-num-stars="5" ></span></br></td>
                    </tr>
                    <tr>
                        <td>Service</td>
                        <td><span class="stars" data-rating="{{ restaurant.service }}" data-num-stars="5" ></span></br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12">
            <p>{{ restaurant.description | safe | linebreaks }}</p>
    </div>
</div>


<!-- <div class="row contentgroup">
    <div class="col-md-12 col-sm-12 col-xs-12">
            <h4> Extra Pictures </h4>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px">
        <div class="restaurant_pic">
            <img src="{{ restaurant.menu_thumbnail.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px">
        <div class="restaurant_pic">
            <img src="{{ restaurant.food_thumbnail_2.url }}" style="width:100%">
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px">
        <div class="restaurant_pic">
            <img src="{{ restaurant.food_thumbnail_1.url }}" style="width:100%">
        </div>
    </div>
</div> -->

<hr class="style17">
<div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12" style="margin-bottom:50px;">
        <div class="comments_wrapper" id="comments">
            {% render_comment_list for restaurant %}



            {% comment %}
            <div id="wrap_write_comment">
                {% render_comment_form for restaurant %}
            </div> 

            {% endcomment %}
                        
            <div id="wrap_write_comment">
                <div id="form-comment"> 
                {% if user.is_authenticated %}
                    {% get_comment_form for restaurant as commentform %}
                    <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% bootstrap_field commentform.comment %}
                            {{ commentform.honeypot }}
                            {{ commentform.content_type }}
                            {{ commentform.object_pk }}
                            {{ commentform.timestamp }}
                            {{ commentform.security_hash }}
                            {{ commentform.parent}}
                            <input type="hidden" name="next" value="{% url 'limau:restaurant_single' slug=restaurant.slug %}">
                            <button type="submit" name="submit" value="Post" id="id_submit" class="save btn btn-default">Submit</button> 
                        </div>   
                    </form>
                
                {% else %}
                    <a href="{% url 'auth_login' %}" class="comment_login">Please login to comment</a>
                    <p style="margin-top: 5px;">You can also post comments as guest below :)</p>
                    {% get_comment_form for restaurant as commentform %}

                    <form action="{% comment_form_target %}" method ="post">
                        {% csrf_token %}

                            {% bootstrap_field commentform.comment %}
                            {% bootstrap_field commentform.name %}
                            {% bootstrap_field commentform.email %}
                            {{ commentform.honeypot }}
                            {{ commentform.content_type }}
                            {{ commentform.object_pk }}
                            {{ commentform.timestamp }}
                            {{ commentform.security_hash }}
                            {{ commentform.parent}}
                        </table>

                        <input type="hidden" name="next" value="{% url 'limau:restaurant_single' slug=restaurant.slug %}">
                        <button type="submit" name="submit" value="Post" id="id_submit" class="save btn btn-default">Submit</button> 


                    </form>
                {% endif %}
                </div>
            </div>


            <!-- testing custom made comment form -->          
        </div>
    </div>
</div>
{% endblock %}